
@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');

:root {
    --font-size:1rem;
  }


/* Reset */
* {
    box-sizing:border-box; 
    outline:none;
    margin:0;
    padding:0;
    font-family: "MedievalSharp", cursive;
    
  }
  ul {
    list-style:none;
  }

  /* Basic style */
body {
    margin:0;
    /* font-size:50px; */
    background-color: black;
    
    
  }
  .main-content {
    padding:1rem;
  }

  #Accueil {

    margin: 0 auto;
    display: block;
    font-size:50px;
    background-image: url(./fonddécranaccueil.png);
    
    width: 1740px;
    height: 904px;
  }

  #Titre{
    text-align: center;
    color:brown;
    font-size: 150px;
    
  }

  #Startbutton {
    position: absolute;
    top: 910px;
    left: 1100px;
    width: 200px;
    height: 150px;
    font-size: 50px;
    font-weight: bolder;
    background-image: url(./Fondécranstartbutton.png);

  }




  #ReadyFight {  
    font-size:50px;
    display:none;
    justify-content:center;
    align-items: center;
    width: 1231;
    height: 1000px;
    padding:50px;
    font-size:3rem;
    background-image: url(./MenuNavbar1.png);
    background-repeat: no-repeat;
    background-size: cover;
    
    color: yellow;
  }

 

  .NavbarLinks {
    display:flex;
    align-items: center;
    justify-content: center;
    background: transparent
    
}

  .LinkSelect, .LinkPerso, .LinkCombat {
    padding:0 10px;
 

  }
     

  #button1, #button2, #button3 { 
    background-color: aquamarine;
    font-size: 50px;
    padding: 5px;
    
}

#MenuPlayer {
    display: none;
    height: 800px;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    flex-direction: row;
    justify-self: end;
    padding: 50px;
    gap:10px;
    color:yellow;
    font-weight: bolder;
    font-size: 16px;
    
}



.Pierre {
  background-color: grey;
  border-radius: 9%;
  width: 420px;
  height: 520px;
}
.Feuille {
  background-color:green;
  border-radius: 9%;
  width: 420px;
  height: 520px;
}

.ciseaux {
  background-color:blue;
  border-radius: 9%;
  width: 420px;
  height: 520px;
}

.button-clique1 {
    border:10px solid red;
    
}
.button-clique2 {
  
    border:10px solid green;
}
.button-clique3 {
  
  border:10px solid blue;
}


#PhotoRocki {
    background-image: url("./Rémy.png");
    width: 420px;
    height: 350px;
    
    
}

#PhotoPaperman {
    background-image: url("./Gaetan.png");
    width: 420px;
    height: 350px;
    background-position: center;
    
}

#PhotoScissorhands {
    background-image: url("./Marvin.png");
    width: 420px;
    height: 350px;
    background-position: center;
    
}


   
#Commencer {
    width: 100%;
    height: 50%;
    flex-direction: column;
    position: absolute;
    top: 900px;
    left: 34%;
}

#boutonCommencer {

  background-color: aquamarine;
    font-size: 50px;
    
    padding: 5px;
    align-self: flex-end;
    justify-self: center;
}

#Choixpseudo {
  display: none;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 600px; /* Ajustez la largeur selon vos besoins */
  height: 300px;
  margin: 0 auto; /* Centrer horizontalement */
  margin-top: 100px; /* Espacement du haut, ajustez selon vos besoins */

}

#formulaire {
   font-size: 40px;
   text-align: center;
   padding-top: 30px;
}

#Submit {
    position: absolute;
    font-size: 50px;
    top: 500px;
    left: 490px;
  }

  #PageCombat {
    
    display: none;
    height: 1200px;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 10% 40% 30% 20%;
    text-align: center;
    justify-content: start;
    background-image: url(./photoarene.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    
    padding: 50px;
    gap:10px;
    color: red;
    background-color: #fff;
    font-weight: bolder;
    font-size: 70px;
    
  }



#Combattez {
  grid-column: 2/2;
  grid-row: 1/1;

}

#CaseJoueur1 {
  display: grid;
   grid-column: 1/1;
   grid-row:2/2;
   
  }

#pseudoOutput {
  
}

#Pierrejoueur, #Feuillejoueur, #Couteaujoueur {
  display: none;
  font-size: 60px;
  align-self: end;
  text-align:center;
  height:220px ;
  text-decoration: 1px solid red;
}

#Pierrejoueur {
  background-image: url(./Rémy.png);
  background-position: center;
  background-repeat: no-repeat;

}

#Feuillejoueur {
  background-image: url(./Gaetan.png);
  background-position: center;
  background-repeat: no-repeat;
}

#Couteaujoueur {
  background-image: url(./Marvin.png);
  background-position: center;
  background-repeat: no-repeat;

}


#Adversaire {
  display: grid;
   grid-column: 3/3;
   grid-row: 2/2;
  
}

#Pierre, #Feuille, #Couteau {
  display: none;
  font-size: 60px;
}

#Lancez {
  width: 50%;
  height: 50%;
  justify-self: center;
  align-self: center;
  grid-column: 1/1;
  grid-row:3/3;
  font-size: 30px;
  color:white;
  font-weight: bolder;
  background-image: url(./Fondécranstartbutton.png);

}

#Pierre {
  
  background-image: url(./Rémy.png);
  background-position: center;
  background-repeat: no-repeat;
}

#Feuille {
  background-image: url(./Gaetan.png);
  background-position: center;
  background-repeat: no-repeat;
}

#Couteau {
  background-image: url(./Marvin.png);
  background-position: center;
  background-repeat: no-repeat;
}


#txt {
  position: relative;
  top: -80px;
}



#Arene {
  grid-column: 2/2;
  grid-row:2/2;
  align-self: center;

}

#Win, #Loose, #Egalité{
  display: none; 
  color: yellow;
  grid-column: 2/2;
  grid-row:2/2;
}

#pseudoOutput {
  color: black;
}




