main {
  margin: 0 auto;
  width: 1440px;
  height: 2550px;
  background-color: #ECEFD8;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
}
.Container1 {
  display: flex;
  width: 100%;
  height: 2%;
}
.Navbar {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  font-size: 100%;
  letter-spacing: 10px;
  align-items: center;
}
a {
  text-decoration: none;
  color: black;
}
.Container2 {
  display: flex;
  width: 100%;
  height: 19.3%;
}
.Fondécranlogo {
  background-image: url(Logo1/FondécranLogo.jpeg);
  width: 100%;
  height: 100%;
}
.Logo {
  background-image: url(Logo1/Logpo.png);
  width: 31.9%;
  height: 25.5%;
  position: relative;
  top: 25%;
  display: block;
  margin: 0 auto;
}
.Sous-titre {
  margin: 0 auto;
  color: #ECEFD8;
  position: relative;
  width: 28%;
  height: 6%;
  top: 40%;
  white-space: nowrap;
  font-size: 150%;
  font-weight: lighter;
  letter-spacing: 1px;
  border-bottom: 1px solid #ECEFD8;
  border-top: 1px solid #ECEFD8;
}
.Container3 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: 440px;
  padding-bottom: 3%;
  width: 100%;
}
#Bonjour {
  font-size: 150%;
  font-weight: bold;
}
#paragraphe {
  display: flex;
  padding-right: 10%;
  padding-left: 10%;
  font-size: 20px;
  word-spacing: 10px;
}
#Bouton {
  margin: 0 auto;
  font-size: 16px;
  border: 1px solid #ECEFD8;
  padding: 33px 30px 1px 30px;
  color: #EDD690;
  background-color: #849561;
  justify-content: center;
  text-align: center;
}
.Container4 {
  display: flex;
  background-color: #393939;
  width: 100%;
  flex-wrap: wrap;
  height: 560px;
  justify-content: center;
  gap: 35px;
  padding-bottom: 50px;
}
h1 {
  width: 100%;
  font-size: 22px;
  margin: 1%;
  align-self: center;
  text-align: center;
  color: #849561;
}
.ishibashifoundation,
.theageofanxiety,
.apollinairelepoète,
.lesfemmesphotographes {
  background-color: #849561;
  width: 20%;
  height: 80%;
  color: white;
  align-items: flex-start;
  text-align: center;
  font-size: 14px;
}
p {
  padding-top: 30px;
  padding-left: 40px;
  padding-right: 40px;
}
h2 {
  padding-top: 0px;
  padding-left: 40px;
  padding-right: 40px;
  font-size: 20px;
}
.ImageIshibashi {
  background-image: url(ImageEncemoment/Ishibashi.jpeg);
  width: 100%;
  height: 145px;
  align-self: flex-start;
}
.ImageAnxiety {
  background-image: url(ImageEncemoment/TheAgeOfAnxiety.jpeg);
  width: 100%;
  height: 145px;
  align-self: flex-start;
}
.ImageApollinaire {
  background-image: url(ImageEncemoment/Apollinaire.jpeg);
  width: 100%;
  height: 145px;
  align-self: flex-start;
}
.ImageFemmes {
  background-image: url(ImageEncemoment/LesFemmesPhotographes.jpeg);
  width: 100%;
  height: 145px;
  align-self: flex-start;
}
#BoutonDécouvrir1,
#BoutonDécouvrir2,
#BoutonDécouvrir3 {
  border: 1px solid #9AB464;
  background-color: #393939;
  font-size: 16px;
  color: white;
  position: relative;
  top: 28%;
  padding: 10px 30px 10px 30px;
}
#BoutonDécouvrir4 {
  border: 1px solid #9AB464;
  background-color: #393939;
  font-size: 16px;
  color: white;
  position: relative;
  top: 22%;
  padding: 10px 30px 10px 30px;
}
.Container5 {
  width: 100%;
  height: 375px;
}
.Hall {
  background-image: url(BasdePage/Hall.jpeg);
  width: 100%;
  height: 375px;
}
.Cloche {
  background-image: url(BasdePage/font-awesome\ -\ cloche.png);
  width: 3.2%;
  height: 16.6%;
  justify-content: center;
  position: relative;
  top: 5%;
  left: 48.4%;
  border: 1px solid white;
}
.Installation {
  color: white;
  font-size: 22px;
  font-weight: lighter;
  position: relative;
  top: 4%;
  left: 37.4%;
}
.Texte {
  position: relative;
  color: white;
  text-align: center;
  padding: 20px 300px 20px 300px;
  font-size: 16px;
}
.Container6 {
  color: white;
  background-color: #393939;
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.Titre {
  color: #849561;
  text-align: center;
  font-size: 22px;
}
.Container7 {
  display: flex;
  height: 500px;
  background-color: #393939;
  justify-content: center;
  gap: 20px;
}
.Block1,
.Block2 {
  display: flex;
  width: 30%;
  height: 80%;
  flex-direction: column;
  background-color: #849561;
  color: white;
  position: relative;
  justify-content: flex-end;
  padding-left: 1%;
  padding-right: 1% ;
  text-align: end;
}
.Photo1 {
  background-image: url(BasdePage/Bradley.jpeg);
  background-position: center;
  width: 205px;
  height: 203px;
  border-radius: 50%;
  align-self: flex-start;
  position: absolute;
  top: -25%;
  left: 25%;
}
.Photo2 {
  background-image: url(BasdePage/Laura.jpeg);
  background-position: center;
  width: 205px;
  height: 203px;
  border-radius: 50%;
  align-self: flex-start;
  position: absolute;
  top: -25%;
  left: 25%;
}
.Bradley {
  border-top: 1px solid white;
  text-align: start;
}
.Laura {
  border-top: 1px solid white;
}
.Texte1,
.Texte2 {
  text-align: start;
  padding-bottom: 40px;
}
.Bouton1 {
  display: flex;
  position: absolute;
  bottom: 1%;
  flex-direction: column;
  width: 200px;
}
.Bouton2 {
  display: flex;
  width: 140px;
  height: 48px;
  padding-left: 40px;
  gap: 10px;
  align-items: center;
}
.Google {
  background-image: url(BasdePage/Google+.png);
  background-repeat: no-repeat;
  height: 15px;
  width: 35px;
  background-color: #393939;
  border: 1px solid #393939;
  border-width: 10px;
  background-position: center;
}
.Facebook {
  background-image: url(BasdePage/Facebook.png);
  background-position: center;
  background-repeat: no-repeat;
  height: 15px;
  width: 30px;
  background-color: #393939;
  border: 1px solid #393939;
  border-width: 10px;
}
.Twitter {
  background-image: url(BasdePage/Twitter.png);
  background-repeat: no-repeat;
  height: 15px;
  width: 30px;
  background-position: center;
  background-color: #393939;
  border: 1px solid #393939;
  border-width: 10px;
}
@media screen and (max-width: 768px) {
  .Navbar {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    font-size: 22px;
    letter-spacing: 10px;
    align-items: center;
  }
  .Container4 {
    display: grid;
    grid-template-columns: 40% 40%;
    grid-template-rows: 10% 45% 45%;
    width: 100%;
    height: 1269px;
    gap: 1px;
    padding-bottom: 5px;
  }
  h1 {
    grid-row: 1/1;
    grid-column: 1/3;
    width: 100%;
    font-size: 30px;
    margin: 1%;
    justify-self: center;
    text-align: center;
  }
  .ishibashifoundation,
  .theageofanxiety,
  .apollinairelepoète,
  .lesfemmesphotographes {
    background-color: #849561;
    justify-self: center;
    width: 90%;
    font-size: 20px;
  }
  #BoutonDécouvrir1,
  #BoutonDécouvrir2,
  #BoutonDécouvrir3,
  #BoutonDécouvrir4 {
    position: relative;
    top: 25%;
  }
  .Container5 {
    width: 100%;
    height: 612px;
  }
  .Hall {
    width: 100%;
    height: 612px;
  }
  .Cloche {
    background-repeat: no-repeat;
    width: 3.2%;
    height: 16.6%;
    justify-content: center;
    position: relative;
    top: 5%;
    left: 48.4%;
    border: 1px solid white;
  }
  .Installation {
    color: white;
    font-size: 27px;
    font-weight: lighter;
    position: relative;
    top: 4%;
    left: 35.4%;
  }
  .Texte {
    position: relative;
    color: white;
    text-align: center;
    padding: 20px 300px 20px 300px;
    font-size: 22px;
  }
}
