#container{
    /* background-color: cadetblue; */
     height: 500px;  
    /* width: 500px;  */
    border: 2px solid sienna;
    /* margin:10px auto; */
    display: flex;
    flex-direction: row; 
    /* flex-wrap: wrap   */
    /* flex-flow: row nowrap; */
}

#flex-item1 {

    background-color: red;
    /* width: 200px; */
     /* height: 100px; */
     
     flex-basis: auto;
     
      
}

#flex-item2 {

    background-color: orange;
    /* width: 200px; */
    /* height: 100px;  */
    
    flex-basis: auto;
    
}

#flex-item3 {

    background-color: blue;
    /* width: 200px; */
    /* height: 100px; */
    
    flex-basis: auto;
    
}

#flex-item4 {

    background-color: green;
    /* width: 200px; */
    /* height: 100px; */
    flex-basis: auto;
    
}

