.gridcontainer {
    display: grid;
    grid-template-columns: 200px 200px 200px;
    
   grid-template-rows: 200px 300px 100px;

   /* column-gap: 20px;
   row-gap: 20px; */
   gap: 10px 10px;
   /* justify-items: stretch; */
   align-items: stretch;
   justify-content: stretch;
   align-content: stretch;
   height: 900px;
   g

}

.itemgrid1 {
background-color: ;
grid-area: 1/1/2/2;

}

.itemgrid2 {
    background-color: tan;
    /* align-self: flex-start; */
    /* justify-self: center; */
    grid-area: 1/1/2/4;
}
.itemgrid3 {
    background-color: red;


}
.itemgrid4 {
    background-color: yellow;


}
.itemgrid5 {

    background-color: lime ;

}
.itemgrid6 {
    background-color: purple;


}
.itemgrid7 {
    background-color: orange;


}
.itemgrid8 {
    background-color: cyan;


}
.itemgrid9 {
    background-color: ;


}

div{
    border: 1px dotted black;
}